<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <form action="/burgers/update" method="post">
            <input type="text" name="id" value="{{burger.id}}" hidden>

            <label for="name">Name:</label>
            <input type="text" name="name" class=form-control value="{{burger.name}}">

            <label for="bun">Bun:</label>
            <input type="text" name="bun" class=form-control value="{{burger.bun}}">

            <label for="meat">Meat:</label>
            <input type="text" name="meat" class=form-control value="{{burger.meat}}">

            <label for="calories">Calories:</label>
            <input type="text" name="calories" class=form-control value="{{burger.calories}}">

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>